@use '../src/index';
@import 'https://cdn.skypack.dev/@qbcart/toast/index.css';
@import 'https://cdn.skypack.dev/@qbcart/eshop-product-modal/index.css';

.app-bar {
  display: block;
  height: 64px;
  width: 100%;
  background: black;
}
