@use '@qbcart/eshop-product-modal';

#qbc-eshop-cart-view-modal .m-icon-36,
#qbc-eshop-cart-clear-cart-modal .m-icon-36,
#qbc-eshop-cart-clear-item-modal .m-icon-36 {
  font-size: 32px;
  vertical-align: text-top;
}

#qbc-eshop-cart-view-modal .modal-header {
  padding: 0.5rem 1rem;
}

#qbc-eshop-cart-view-modal .cart-title {
  font-size: 24px;
  margin-left: 5px;
}

#qbc-eshop-cart-view-modal .modal-header .close {
  margin: -0.75rem -1rem -1rem auto;
}

#qbc-eshop-cart-view-modal .cart-row {
  border-bottom: 1px solid lightgray;
  margin: 10px;
}

#qbc-eshop-cart-view-modal .cart-row-img {
  max-height: 200px;
  margin: 10px auto;
}

#qbc-eshop-cart-view-modal .cart-row-data {
  height: 200px;
}

#qbc-eshop-cart-clear-cart-modal .modal-content,
#qbc-eshop-cart-clear-item-modal .modal-content {
  border: 2px solid black;
}

#qbc-eshop-cart-clear-cart-modal .modal-header,
#qbc-eshop-cart-clear-item-modal .modal-header {
  padding: 0.5rem 1rem;
  color: #dc3545;
  background-color: darkslategray;
  border-bottom: 2px solid black;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

#qbc-eshop-cart-clear-cart-modal .clear-title,
#qbc-eshop-cart-clear-item-modal .clear-title {
  font-size: 24px;
  margin-left: 5px;
  color: lightgray;
}

#qbc-eshop-cart-clear-item-modal .clear-img {
  display: block;
  max-height: 300px;
  margin: 5px auto;
}

#qbc-eshop-cart-view-modal .quantity-input-cart {
  width: 80px;
}

#qbc-eshop-cart-view-modal .cart-quantity-update {
  height: 31px;
  width: 64px;
  display: inline-flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
}

#qbc-eshop-cart-toast-container {
  z-index: 2000;
  position: fixed;
  top: 50%;
  right: 50%;
}

#qbc-eshop-cart-toast {
  position: relative;
  bottom: 50%;
  left: 50%;
}