@use '@qbcart/qbc-eshop-product-modal';

.m-icon-36 {
  font-size: 32px;
  vertical-align: text-top;
}

.cart-header {
  padding: 0.5rem 1rem;
}

.cart-title {
  font-size: 24px;
  margin-left: 5px;
}

.modal-header .cart-header-close {
  margin: -0.75rem -1rem -1rem auto;
}

.cart-row {
  border-bottom: 1px solid lightgray;
  margin: 10px;
}

.cart-row-img {
  height: 200px;
  margin: 10px auto;
}

.cart-row-data {
  height: 200px;
}

.clear-modal {
  border: 2px solid black;
}

.clear-header {
  padding: 0.5rem 1rem;
  color: #dc3545;
  background-color: darkslategray;
  border-bottom: 2px solid black;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.clear-title {
  font-size: 24px;
  margin-left: 5px;
  color: lightgray;
}

.clear-img {
  display: block;
  height: 300px;
  margin: 5px auto;
}

.quantity-input-cart {
  width: 80px;
}

.cart-quantity-update {
  height: 31px;
  width: 64px;
  display: inline-flex;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
}
